{
    "camera": {
        "path": "D:/ExperimentData/20190926-1/C001H001S0006",
        "cam_type": "sa4",
        "image_width": 512,
        "image_height": 512,
        "frame_start": 0,
        "frame_end": 1000
    },
    "vmem": {
        "diff_min": 20,
        "intensity_min": 20,
        "smooth_size": 9
    },
    "pvmap": {
        "pv_win": 3
    },
    "menu": {
        "save_int": 1,
        "cam": 1,
        "vmem": 1,
        "pmap": 0,
        "pvmap": 0,
        "core": 1,
        "integrate": 3
    },
    "roi_rect": {
        "top": 0,
        "bottom": 0,
        "left": 0,
        "right": 0
    },
    "core": {
        "pv_thre": 0.8
    },
    "integ": {
        "phase_wf": -2.0,
        "phase_wt": 2.0,
        "phase_dwf": 0.3,
        "phase_dwt": 0.3
    }
}